extends layout

block content
  .main.container
    .row
      .col-md-8.col-md-offset-2
        h1.display-4.m-b-2 About the site!
        p This is the official Website for the Murder Mystery Party. You have been invited to create an account that will give you your information for the night!


        a.btn.btn-info-outline.btn-lg.m-t-1(href='/register') Register to see your information!
