extends layout

block content
  .main.container.text-xs-center
    h1.display-3 Sour Grapes of Wrath
    p.lead Welcome to the site for the Murder Mystery!
    a.btn.btn-info-outline.btn-lg(href='/register') Get Started!
